body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #082a33;
}

.header-logo {
  max-width: 186px;
}

h1 {
  font-size: 85px;
  font-weight: normal;
}
h2 {
  font-size: 61;
  font-weight: normal;
}

nav a {
  text-decoration: none;
  color: #082a33;
}
nav li {
  display: inline-block;
}
nav ul {
  padding: 0px;
}

nav a:hover {
  font-weight: 600;
}

nav a:focus {
  font-weight: 800;
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 20%;
  
}

footer nav a {
  color: white;
}

footer {
  background-color: #082a33;
}
